body {
  margin: 0;
  font-family: 'Encode Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Encode Sans', sans-serif;
}

.rounded-lg {
  border-radius: 20px;
}